# Git
.gitignore
*.orig
static/
# Python and packages
__pycache__/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.py[codt]
.installed.cfg
*.egg
*.so
local_settings.py

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
nosetests.xml
coverage.xml

# Downloads and extras
*.tar.gz
neo4*/

# Databases
*.sqlite

# Sublime Text
.codeintel/
*.sublime-project
*.sublime-workspace